<div class="sidebar">
    <span class="btn">
        <i class="icon-plus"></i>
        <a href="/admin/new/brand">Add brand</a>
    </span>

	<h3> Add appliances </h3>
	<ul>
		<li><a href="/admin/appliances/refrigerator/new">New refrigerator</a></li>
		<li><a href="/admin/appliances/washingmachine/new">New washingmachine</a></li>
		<li><a href="/admin/appliances/airconditioner/new">New airconditioner</a></li>
		<li><a href="/admin/appliances/dishwasher/new">New dishwasher</a></li>
	</ul>
	<h3> Show appliances </h3>
	<ul>
		<li><a href="/admin/appliances/refrigerators">Show refrigerators</a></li>
		<li><a href="/admin/appliances/washingmachines">Show washingmachines</a></li>
		<li><a href="/admin/appliances/airconditioners">Show airconditioners</a></li>
		<li><a href="/admin/appliances/dishwashers">Show dishwashers</a></li>
	</ul>
</div>
<div class="main_content">

</div>
