<input type="hidden" value=<%= "#{@brand.id}" %> ></input>
<label for="name">Brand name</label>
<input type="text" name="name" value=<%= "#{@brand.name}" %>></input>
<input type="submit" value="submit"></input>
