<% @items.each do |item|%>
  <div class="small_appliance_box">
		<%= erb :show_small, :locals => {item:item, cat:@item_category} %>
		<% if logged_in? %>
			<a class="delete_appliance" href=<%= "/admin/appliances/#{singular @item_category}/destroy/#{item.id}" %> >Delete item</a> 
			<a href=<%= "/admin/appliances/#{singular @item_category}/edit/#{item.id}" %> >Edit item</a> 
		<% end %>
  </div>
<%end%>
<%= will_paginate @items %>
